<table style="width:600px;" width="872" height="30" class="textof" border="0" cellpadding="6" cellspacing="0">
	<% @observacao_vocacionados.each do |observacao_vocacionado| %>
	  <tr>
		<td><%= observacao_vocacionado.descricao[0..60] %></td>
	    <td>&nbsp;</td>
		<td>Ocorrido em <%= l observacao_vocacionado.data, :format => :default %></td> 
		<td  class="cursor">		
	 		<%= link_to image_tag("search_icon.png"), observacao_vocacionado_path(observacao_vocacionado) %>
		</td>
		<td  class="cursor">		
	 		<%= link_to image_tag("alterar_icon.png"), edit_observacao_vocacionado_path(observacao_vocacionado) %>
		</td>
	   	<td class="cursor">   		
	   		<%= link_to image_tag("excluir_icon.png"), observacao_vocacionado, method: :delete, data: { confirm: 'Deseja mesmo excluir essa observação?' } %>
	   	</td>
	  </tr>	
	<% end %>			
</table>
<%= will_paginate @observacao_vocacionados %>
