<%= form_for(@vocacionado) do |f| %>
<br/>
<%= flash_message %>

<table style="width:455px; height:auto" class="textof" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"  style="width:148px;"><h3 style="text-align:left">Como ele se chama?
      <span style="color: #F00;"><strong>*</strong></span></h3>
    </td>        
  </tr>
  <tr>
    <td colspan="3" style="width:121px;">
      <div>
        <%= f.text_field(:nome, :class => "estilo_caixa blur", :maxlengh => 50 , :style => "width:328px; height:18px;") %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:150px; height:38px">      
        <span style="text-align:left; ">Quando ele nasceu?</span>      
    </td>
      <td  style="width:148px; height:38px">
        <div style="margin-left:-165px;padding-left:40%">    
          <span>Qual sua escolaridade?</span>
        </div>
      </td>    
  </tr>
  <tr>
    <td  colspan="3" style="width:150px; ">      
      <%= f.date_select :nascimento  , {:start_year => 1960, :include_blank => true}, {:class => "text_select"} %>
    </td>    
    <td  style="padding-left:20px">      
      <div style="margin-left:-180px;padding-left:40%">
        <%= f.select :escolaridade, options_for_select(
           [["Selecione..",""],
            ["Primeiro grau completo","Primeiro grau completo"],
            ["Primeiro grau incompleto","Primeiro grau incompleto"],
            ["Segundo grau completo","Segundo grau completo"],
            ["Segundo grau incompleto", "Segundo grau incompleto"],
            ["Superior completo", "Superior completo"],
            ["Superior incompleto","Superior incompleto"]], 
          :selected => @vocacionado.escolaridade) ,  :class => "styled2 text_select" , :style=>"width:168px; height:auto;" %>      
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:148px;">
      <h3 style="text-align:left">Qual o endereço dele?
      </h3>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:121px;">
      <div>
          <%= f.text_field :endereco , :class => "estilo_caixa blur", :maxlengh => 70 , :style => "width:328px; height: 18px;"  %>  
      </div>
    </td>
  </tr>
  <tr>
      <td colspan="3"  style="width:148px; height:38px">
        <span style="text-align:left; ">Em que bairro mora?</span>
      </td>
     <td  style="width:148px; height:38px">
        <div style="margin-left:-120px;padding-left:30%">
          <span style="text-align:left; padding-left:20px;">Qual o CEP da residencia dele?</span>
        </div>
      </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:80px;">
      <div>
        <%= f.text_field(:bairro, :class => "estilo_caixa blur", :maxlengh => 30 ,:style => "width: 240px; height: 18px;") %>
      </div>
    </td>
    <td  style="width:190px;">
      <div style="margin-left:-100px;padding-left:30%">
        <%= f.text_field(:cep , :class => "estilo_caixa blur", :maxlengh => 9 , :style => "width:170px; height: 18px;") %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:148px;">
      <h3 style="text-align:left">Se precisar complemente o endereço dele?</h3>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:121px;">
      <div>
        <%= f.text_field :complemento_endereco, :class => "estilo_caixa blur", :maxlengh => 100 ,:style => "width:328px; height: 18px;" %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:148px; height:38px"><span style="text-align:left; ">Em que estado mora?</span>
  </td>
  <td  style="width:148px; height:38px">
    <div style="margin-left:-195px;padding-left:30%">
     <span style="text-align:left; padding-left:20px;">Em que cidade mora?</span>
   </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:80px;">
      <div>
        <%= f.collection_select(:cod_estado, Estado.all, :id, :nome, {:prompt => true} ,:class=>"styled2 text_select", :style=>"width:168px; height:auto;") %>          
      </div>
    </td>
    <td  style="width:190px;">
       <div style="margin-left:-180px;padding-left:30%">       
      <%= f.text_field(:cidade_id, :class => "estilo_caixa blur", :maxlengh => 30 ,:style => "width: 240px; height: 18px;") %>
       </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:148px; height:38px"><span style="text-align:left; ">Qual o telefone da residencia dele?</span></td>
    <td>
      <div style="margin-left:-100px;padding-left:30%">
        <span>Qual o celular dele?</span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:80px;">
      <div>
        <%= f.text_field :telefone_residencial,:class=>"estilo_caixa blur", :maxlengh => 13 ,:style => "width: 240px; height: 18px;" %>
      </div>
    </td>
    <td>
      <div style="margin-left:-100px;padding-left:30%">
         <%= f.text_field :celular, :class => "estilo_caixa blur", :maxlengh => 13 ,:style => "width:170px; height: 18px;" %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"  style="width:148px;"><h3 style="text-align:left">Qual o e-mail dele?</h3></td>
    </tr>
  <tr>
    <td colspan="3"  style="width:121px;">
      <div>
        <%= f.text_field :email, :class => "estilo_caixa blur", :style => "width:328px; height: 18px;"%>
      </div>
    </td>
  </tr>
   <tr>
    <td colspan="3"  style="width:148px; height:38px"><span style="text-align:left; ">Quando foi o primeiro Contato?</span></td>
  </tr>
  <tr>
    <td >      
      <div style="width:auto; height: auto;">
        <%= f.date_select :primeiro_contato  , {:start_year => 1995, :include_blank => true}, {:class => "text_select"} %>
      </div>
    </td>
  </tr>   
    <tr>
     <td colspan="3"  style="width:148px; height:38px">
       <%= f.check_box :ativo, {checked: @vocacionado.ativo} %>
      <label for="checkbox"></label>
      <span style="text-align:left; ">Este Vocacionado está ativo?</span>
    </td>            
    </tr>
  </table>
  <br><br>
  <div  style="float:left; width:476px; padding-right:10px; margin-left:-298px">
    <div style="float:left; padding-left:296px;">       
      <%= image_submit_tag "salvar.png", :class => "cursor", :style=>"width:83px; height:27px; border:0px solid #ddd; padding: 0px 0px 0px 0px",  :border=>"0" %>
   </div>
    <div id="cancelar" style="float:right;">
      <h4><%= link_to 'Cancelar', vocacionados_path , :class=>"cursor"%></h4>
    </div>
  </div>  
<% end %>
