<table style="width:600px;" class="textof" border="0" cellpadding="6" cellspacing="0">    
  <% @vocacionado.each do |vocacionado| %>
    <tr>        
        <td><%= vocacionado.nome %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>        
        <td>Cadastrado em <%= l vocacionado.created_at, :format => :default %></td>    
        <% if vocacionado.primeiro_contato.nil? %>
            <td>Nenhum contato feito</td>
        <% else %>
        <td>Contato em <%= l(vocacionado.primeiro_contato, :format => :default)  if !vocacionado.primeiro_contato.nil?%>
        </td>    
        <% end %>
        <td class="cursor">
            <%= link_to image_tag("alterar_icon.png"), edit_vocacionado_path(vocacionado), :title => "Editar dados cadastrais deste vocacionado." %>                
        </td>
        <td class="cursor">
            <%= link_to link_to image_tag("print_icon.png"), {:action => :generate_registration_form, :id => vocacionado, :format => 'pdf'} , :title => "Gerar ficha cadastral deste vocacionado para impressão.", :target => "_blank" %>
        </td>      
        <td class="cursor">                
            <%= link_to image_tag("obs_icon.png"), {:controller => "observacao_vocacionados",:action => "index", :vocacionado => vocacionado},:title => "Gerenciar as observações deste vocacionado" %>
        </td>
    </tr>                 
<% end %>
</table>
<br/>

<div style="padding-left: 420px" class="digg_pagination">
    <%= will_paginate @vocacionado,    
    :page_links => false,
    :previous_label => '&#8592; Anterior',
    :next_label => 'Próximo  &#8594;'    
    %>
</div>
<br><br>   
