<h1>Vocacionados</h1>
<br/>
<div>
  <%= render 'search_form' %> 

  <br/><br/><br/>

</div>

<div id="grid_vocacionados">
  <%= render 'grid_vocacionados' %> 
</div>

<br />

<%= link_to 'Cadastrar novo', new_vocacionado_path %>
<%= link_to 'Gerar listagem', :action => :generate_list,  :format => 'pdf' %>
<%= link_to 'Gerar etiquetas', :action => :generate_labels,  :format => 'pdf' %>