<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @vocacionado.nome %>
</p>

<p>
  <b>Nascimento:</b>
  <%= @vocacionado.nascimento %>
</p>

<p>
  <b>Cod escolaridade:</b>
  <%= @vocacionado.cod_escolaridade %>
</p>

<p>
  <b>Endereco:</b>
  <%= @vocacionado.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @vocacionado.bairro %>
</p>

<p>
  <b>Cep:</b>
  <%= @vocacionado.cep %>
</p>

<p>
  <b>Complemento endereco:</b>
  <%= @vocacionado.complemento_endereco %>
</p>

<p>
  <b>Cod estado:</b>
  <%= @vocacionado.cod_estado %>
</p>

<p>
  <b>Cidade:</b>
  <%= @vocacionado.cidade %>
</p>

<p>
  <b>Telefone residencial:</b>
  <%= @vocacionado.telefone_residencial %>
</p>

<p>
  <b>Celular:</b>
  <%= @vocacionado.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @vocacionado.email %>
</p>

<p>
  <b>Primeiro contato:</b>
  <%= @vocacionado.primeiro_contato %>
</p>

<p>
  <b>Ativo:</b>
  <%= @vocacionado.ativo %>
</p>


<%= link_to 'Edit', edit_vocacionado_path(@vocacionado) %> |
<%= link_to 'Back', vocacionados_path %>
