<%= flash_message %>
<div id="show_spinner_image" style="display: none">
    <%= image_tag('loader.gif', :border => "0", :style => "float:left;") %>
</div>
<table style="width:610px;" class="textof" border="0" cellpadding="6" cellspacing="0">        
  <% @benfeitores.each do |benfeitor| %>
    <tr>        
        <% if benfeitor.nome.length > 23 %>        
            <td><%= benfeitor.nome[0..23] + '...' %></td>
        <% else %>
            <td><%= benfeitor.nome %></td>
        <% end %>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>        
        <td>Cadastrado em <%= l benfeitor.created_at, :format => :default %></td>    
        <% if benfeitor.primeiro_contato.nil? %>
            <td>Nenhum contato feito</td>
        <% else %>
        <td>Contato em <%= l(benfeitor.primeiro_contato, :format => :default)  if !benfeitor.primeiro_contato.nil?%>
        </td>    
        <% end %>
        <td class="cursor">
            <%= link_to image_tag("alterar_icon.png", :border => "0"), edit_benfeitor_path(benfeitor), :title => "Editar dados cadastrais deste benfeitor." %>                
        </td>
        <td class="cursor">
            <%= link_to link_to image_tag("print_icon.png", :border => "0"), {:action => :generate_registration_form, :id => benfeitor, :format => 'pdf'} ,:title => "Gerar ficha cadastral deste benfeitor para impressão.", :target => "_blank" %>
        </td>      
        <td class="cursor">                
            <%= link_to image_tag("money_add.png", :border => "0"), {:controller => "doacoes",:action => "index", :benfeitor => benfeitor},:title => "Gerenciar as doações deste benfeitor"  %>
        </td>
         <td class="cursor">
            <%= link_to image_tag("excluir_icon.png"), benfeitor, method: :delete, data: { confirm: 'Deseja mesmo excluir esse benfeitor?' } , :title => "Excluir este benfeitor" %>
        </td>
    </tr>                 
<% end %>
</table>
<br/>
<div style="padding-left: 420px" class="digg_pagination">
    <%= will_paginate @benfeitor,    
    :page_links => false,
    :previous_label => '&#8592; Anterior',
    :next_label => 'Próximo  &#8594;'    
    %>
</div>
<br><br>   
