<%= flash_message %>
<div id="show_spinner_image" style="display: none">
    <%= image_tag('loader.gif', :border => "0", :style => "float:left;") %>    
</div>
<table style="width:600px;" width="872" height="30" class="textof" border="0" cellpadding="6" cellspacing="0">
	<% @observacao_vocacionadas.each do |observacao_vocacionada| %>
	  <tr>
		<% if observacao_vocacionada.descricao.length > 23 %>        
	        <td><%= observacao_vocacionada.descricao[0..23] + '...' %></td>
	    <% else %>
	        <td><%= observacao_vocacionada.descricao %></td>
	    <% end %>
	    <td>&nbsp;</td>
		<td>Ocorrido em <%= l observacao_vocacionada.data, :format => :default %></td> 
		<td  class="cursor">		
	 		<%= link_to image_tag("search_icon.png"), observacao_vocacionada_path(observacao_vocacionada), :title => "Visualizar esta observação" %>
		</td>
		<td  class="cursor">		
	 		<%= link_to image_tag("alterar_icon.png"), edit_observacao_vocacionada_path(observacao_vocacionada), :title => "Editar esta observação" %>
		</td>
	   	<td class="cursor">   		
	   		<%= link_to image_tag("excluir_icon.png"), observacao_vocacionada, method: :delete, data: { confirm: 'Deseja mesmo excluir essa observação?' }, :title => "Excluir esta observação" %>
	   	</td>
	  </tr>	
	<% end %>			
</table>
<div style="padding-left: 420px" class="digg_pagination">
    <%= will_paginate @observacao_vocacionadas,    
    :page_links => false,
    :previous_label => '&#8592; Anterior',
    :next_label => 'Próximo  &#8594;'    
    %>
</div>

<br/><br/><br/>
<%= link_to image_tag("voltar.png", :alt => "Voltar para página anterior"), :controller => :vocacionadas, :action => :index %>
