<table style="width:600px;" width="872" height="30" class="tableshow" border="0" cellpadding="6" cellspacing="0">


<%= flash_message %>

<tr>  
  <td><h2>Quando ocorreu?</h2></td>  
</tr>
<tr>
	<td><%= l @observacao_vocacionada.data, :format => :long %></td>
</tr>
<tr>
  <td>
  	<h2>O que ocorreu?</h2>
  </td>
</tr>
<tr>
  <td><%= @observacao_vocacionada.descricao %></td>
</tr>
</table>
<br/>
<br/>

<%= link_to image_tag("editar.png", :alt => "Editar registro"), edit_observacao_vocacionada_path(@observacao_vocacionada) %> 
<%= link_to image_tag("voltar.png", :alt => "Voltar para página anterior"), :action => :index , :vocacionada => @observacao_vocacionada.vocacionada_id %>
