<%= flash_message %>
<div id="show_spinner_image" style="display: none">
    <%= image_tag('loader.gif', :border => "0", :style => "float:left;") %>
</div>
<table style="width:610px;" class="textof" border="0" cellpadding="6" cellspacing="0">    
  <% @vocacionada.each do |vocacionada| %>
    <tr>        
        <% if vocacionada.nome.length > 23 %>        
            <td><%= vocacionada.nome[0..23] + '...' %></td>
        <% else %>
            <td><%= vocacionada.nome %></td>
        <% end %>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>        
        <td>Cadastrado em <%= l vocacionada.created_at, :format => :default %></td>    
        <% if vocacionada.primeiro_contato.nil? %>
            <td>Nenhum contato feito</td>
        <% else %>
        <td>Contato em <%= l(vocacionada.primeiro_contato, :format => :default)  if !vocacionada.primeiro_contato.nil?%>
        </td>    
        <% end %>
        <td class="cursor">
            <%= link_to image_tag("alterar_icon.png", :border => "0"), edit_vocacionada_path(vocacionada) ,:title => "Editar dados cadastrais desta vocacionada."%>
        </td>
        <td class="cursor">
            <%= link_to link_to image_tag("print_icon.png", :border => "0"), {:action => :generate_registration_form, :id => vocacionada, :format => 'pdf'} , :title => "Gerar ficha cadastral desta vocacionada para impressão.", :target => "_blank" %>
        </td>
        <td class="cursor">                
            <%= link_to image_tag("obs_icon.png", :border => "0"), {:controller => "observacao_vocacionadas",:action => "index", :vocacionada => vocacionada}, :title => "Gerenciar as observações desta vocacionada"  %>
        </td>
        <td class="cursor">
            <%= link_to image_tag("excluir_icon.png"), vocacionada, method: :delete, data: { confirm: 'Deseja mesmo excluir essa Vocacionada?' } , :title => "Excluir este vocacionada" %>
        </td>
    </tr>                 
<% end %>
</table>
<br/>
<div style="padding-left: 420px" class="digg_pagination">
    <%= will_paginate @vocacionada,    
    :page_links => false,
    :previous_label => '&#8592; Anterior',
    :next_label => 'Próximo  &#8594;'    
    %>
</div>
<br><br>   
