<!DOCTYPE html>
<html>
<head>  
  <title>SisGV</title>
  <%= stylesheet_link_tag   "estilo", "stylesheet.css", 
  							 "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css",
                 "http://mislav.uniqpath.com/will_paginate/pagination.css",
  							 :media => "all" %>
  <%= javascript_include_tag "application",  "vocacionados", "vocacionados","benfeitores",
                 "observacao_vocacionados","observacao_vocacionados","usuarios","doacoes",
                 "jquery_002",
                 "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js",
  							 "https://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-pt-BR.js",
                 "http://cloud.github.com/downloads/digitalBush/jquery.maskedinput/jquery.maskedinput-1.3.js" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
    $(document).ready(function(){

      $("#filtro_avancado").click(function () {
        $("#filtro").toggle("slow");
      })      
    });  
 </script>

</head>
<body>
<div id="container">
  <div id="area_conteudo">
        <div id="area_menu_esq">
           <div id="logo">           
           <%= link_to image_tag("SantasMissoesPopulares_logo.png", :alt => "Sistema de Gerenciamento de inscritos.") , :controller => "vocacionados" , :action => "index" %>	
           </div>

         <!-- Renderiza menu-->
        <% if session_user %>
         <%= render 'shared/menu' %> 
        <% end %>

        </div>        
        <div id="conteudo" class="border_gradient">
            <div id="titulo">
              <h1>SISTEMA DE GERENCIAMENTO DE INSCRITOS</h1>
            </div>
            <div>
              <% if session_user %>
              <p id="logout">              
                <%= link_to image_tag("sair.png"), :controller => "login", :action => "logout" %>
              </p>
              <% end %>
            </div>
            <div id="info_conteudo">
            	<!-- Aqui vai o conteúdo do sistema -->
      			<%= yield %>
            </div>
        </div>
  </div>
</div>
<div id="footer">
        <div id="info_footer">
           <div style="margin-right:200px; margin-left:200px">
               <%= image_tag("huge_logo.png", :align => "center") %>
               	<p class="texto_rodape">Copyright © 2012 - Todos os direitos reservados</p>
           </div>
        </div>    
</div>
</body>
</body>
</html>
